USE [master]
GO
/****** Object:  Database [QUANLY_VTTTB]    Script Date: 12/25/2020 2:25:56 PM ******/
CREATE DATABASE [QUANLY_VTTTB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLY_VTTTB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLY_VTTTB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLY_VTTTB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLY_VTTTB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLY_VTTTB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLY_VTTTB]
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[Ma_CB] [int] IDENTITY(1,1) NOT NULL,
	[Ten_CB] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_CANBO] PRIMARY KEY CLUSTERED 
(
	[Ma_CB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[Ma_DN] [int] IDENTITY(1,1) NOT NULL,
	[Ten_DN] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[PhanQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[Ma_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[Ma_HV] [int] IDENTITY(1,1) NOT NULL,
	[Ten_HV] [nvarchar](50) NULL,
	[Ma_Lop] [int] NULL,
	[Ten_Lop] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[Anh] [image] NULL,
 CONSTRAINT [PK_HOCVIEN] PRIMARY KEY CLUSTERED 
(
	[Ma_HV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHBAODUONG]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHBAODUONG](
	[Ma_LBD] [int] IDENTITY(1,1) NOT NULL,
	[DonVi] [nvarchar](50) NULL,
	[Ma_LLV] [int] NULL,
 CONSTRAINT [PK_LICHBAODUONG] PRIMARY KEY CLUSTERED 
(
	[Ma_LBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[Ma_LH] [int] IDENTITY(1,1) NOT NULL,
	[Lop] [nvarchar](50) NULL,
	[PhongHoc] [nvarchar](50) NULL,
	[TG_BD] [datetime] NULL,
	[TG_KT] [datetime] NULL,
 CONSTRAINT [PK_LICHHOC] PRIMARY KEY CLUSTERED 
(
	[Ma_LH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[Ma_LLV] [int] IDENTITY(1,1) NOT NULL,
	[Ma_CB] [int] NULL,
	[CongViec] [nvarchar](50) NULL,
	[Ngay] [datetime] NULL,
	[Kip] [int] NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[Ma_LLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUBAODUONG]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUBAODUONG](
	[Ma_LBD] [int] NOT NULL,
	[Ma_CB] [int] NOT NULL,
	[TG_BD] [datetime] NULL,
	[TG_KT] [datetime] NULL,
	[DanhGia] [nvarchar](200) NULL,
 CONSTRAINT [PK_LICHSUBAODUONG] PRIMARY KEY CLUSTERED 
(
	[Ma_LBD] ASC,
	[Ma_CB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUCAPNHAT]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUCAPNHAT](
	[Ma_LSCN] [int] IDENTITY(1,1) NOT NULL,
	[Ma_CB] [int] NULL,
	[LoaiCapNhat] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_LICHSUCAPNHAT] PRIMARY KEY CLUSTERED 
(
	[Ma_LSCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUMUON]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUMUON](
	[Ma_LSM] [int] IDENTITY(1,1) NOT NULL,
	[Ma_HV] [int] NULL,
	[Ma_LH] [int] NULL,
	[Ma_CB] [int] NULL,
 CONSTRAINT [PK_LICHSUMUON] PRIMARY KEY CLUSTERED 
(
	[Ma_LSM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTINHTRANG]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTINHTRANG](
	[Ma_VTTTB] [int] NOT NULL,
	[Ma_TT] [int] NOT NULL,
	[TG_BD] [datetime] NULL,
	[TG_KT] [datetime] NULL,
 CONSTRAINT [PK_LICHSUTINHTRANG] PRIMARY KEY CLUSTERED 
(
	[Ma_VTTTB] ASC,
	[Ma_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LS_VTTTB]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LS_VTTTB](
	[Ma_LSCN] [int] NOT NULL,
	[Ma_VTTTB] [int] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_LS_VTTTB] PRIMARY KEY CLUSTERED 
(
	[Ma_LSCN] ASC,
	[Ma_VTTTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LSM_VTTTB]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSM_VTTTB](
	[Ma_VTTTB] [int] NOT NULL,
	[Ma_LSM] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NhanXet] [nvarchar](200) NULL,
 CONSTRAINT [PK_LSM_VTTTB] PRIMARY KEY CLUSTERED 
(
	[Ma_VTTTB] ASC,
	[Ma_LSM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGVTTTB]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGVTTTB](
	[Ma_TT] [int] IDENTITY(1,1) NOT NULL,
	[ViTri] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_TINHTRANGVTTTB] PRIMARY KEY CLUSTERED 
(
	[Ma_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTTTB]    Script Date: 12/25/2020 2:25:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTTTB](
	[Ma_VTTTB] [int] IDENTITY(1,1) NOT NULL,
	[Ten_VTTTB] [nvarchar](50) NULL,
	[Loai] [nvarchar](50) NULL,
	[NgayNhap] [datetime] NULL,
	[NgayXuat] [datetime] NULL,
 CONSTRAINT [PK_VTTTB] PRIMARY KEY CLUSTERED 
(
	[Ma_VTTTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LICHBAODUONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHBAODUONG_LICHLAMVIEC] FOREIGN KEY([Ma_LLV])
REFERENCES [dbo].[LICHLAMVIEC] ([Ma_LLV])
GO
ALTER TABLE [dbo].[LICHBAODUONG] CHECK CONSTRAINT [FK_LICHBAODUONG_LICHLAMVIEC]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHLAMVIEC_CANBO] FOREIGN KEY([Ma_CB])
REFERENCES [dbo].[CANBO] ([Ma_CB])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK_LICHLAMVIEC_CANBO]
GO
ALTER TABLE [dbo].[LICHSUBAODUONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUBAODUONG_CANBO] FOREIGN KEY([Ma_CB])
REFERENCES [dbo].[CANBO] ([Ma_CB])
GO
ALTER TABLE [dbo].[LICHSUBAODUONG] CHECK CONSTRAINT [FK_LICHSUBAODUONG_CANBO]
GO
ALTER TABLE [dbo].[LICHSUBAODUONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUBAODUONG_LICHBAODUONG] FOREIGN KEY([Ma_LBD])
REFERENCES [dbo].[LICHBAODUONG] ([Ma_LBD])
GO
ALTER TABLE [dbo].[LICHSUBAODUONG] CHECK CONSTRAINT [FK_LICHSUBAODUONG_LICHBAODUONG]
GO
ALTER TABLE [dbo].[LICHSUCAPNHAT]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUCAPNHAT_CANBO] FOREIGN KEY([Ma_CB])
REFERENCES [dbo].[CANBO] ([Ma_CB])
GO
ALTER TABLE [dbo].[LICHSUCAPNHAT] CHECK CONSTRAINT [FK_LICHSUCAPNHAT_CANBO]
GO
ALTER TABLE [dbo].[LICHSUMUON]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUMUON_CANBO] FOREIGN KEY([Ma_CB])
REFERENCES [dbo].[CANBO] ([Ma_CB])
GO
ALTER TABLE [dbo].[LICHSUMUON] CHECK CONSTRAINT [FK_LICHSUMUON_CANBO]
GO
ALTER TABLE [dbo].[LICHSUMUON]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUMUON_HOCVIEN] FOREIGN KEY([Ma_HV])
REFERENCES [dbo].[HOCVIEN] ([Ma_HV])
GO
ALTER TABLE [dbo].[LICHSUMUON] CHECK CONSTRAINT [FK_LICHSUMUON_HOCVIEN]
GO
ALTER TABLE [dbo].[LICHSUMUON]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUMUON_LICHHOC] FOREIGN KEY([Ma_LH])
REFERENCES [dbo].[LICHHOC] ([Ma_LH])
GO
ALTER TABLE [dbo].[LICHSUMUON] CHECK CONSTRAINT [FK_LICHSUMUON_LICHHOC]
GO
ALTER TABLE [dbo].[LICHSUTINHTRANG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTINHTRANG_TINHTRANGVTTTB] FOREIGN KEY([Ma_TT])
REFERENCES [dbo].[TINHTRANGVTTTB] ([Ma_TT])
GO
ALTER TABLE [dbo].[LICHSUTINHTRANG] CHECK CONSTRAINT [FK_LICHSUTINHTRANG_TINHTRANGVTTTB]
GO
ALTER TABLE [dbo].[LICHSUTINHTRANG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTINHTRANG_VTTTB] FOREIGN KEY([Ma_VTTTB])
REFERENCES [dbo].[VTTTB] ([Ma_VTTTB])
GO
ALTER TABLE [dbo].[LICHSUTINHTRANG] CHECK CONSTRAINT [FK_LICHSUTINHTRANG_VTTTB]
GO
ALTER TABLE [dbo].[LS_VTTTB]  WITH CHECK ADD  CONSTRAINT [FK_LS_VTTTB_LICHSUCAPNHAT] FOREIGN KEY([Ma_LSCN])
REFERENCES [dbo].[LICHSUCAPNHAT] ([Ma_LSCN])
GO
ALTER TABLE [dbo].[LS_VTTTB] CHECK CONSTRAINT [FK_LS_VTTTB_LICHSUCAPNHAT]
GO
ALTER TABLE [dbo].[LS_VTTTB]  WITH CHECK ADD  CONSTRAINT [FK_LS_VTTTB_VTTTB] FOREIGN KEY([Ma_VTTTB])
REFERENCES [dbo].[VTTTB] ([Ma_VTTTB])
GO
ALTER TABLE [dbo].[LS_VTTTB] CHECK CONSTRAINT [FK_LS_VTTTB_VTTTB]
GO
ALTER TABLE [dbo].[LSM_VTTTB]  WITH CHECK ADD  CONSTRAINT [FK_LSM_VTTTB_LICHSUMUON] FOREIGN KEY([Ma_LSM])
REFERENCES [dbo].[LICHSUMUON] ([Ma_LSM])
GO
ALTER TABLE [dbo].[LSM_VTTTB] CHECK CONSTRAINT [FK_LSM_VTTTB_LICHSUMUON]
GO
ALTER TABLE [dbo].[LSM_VTTTB]  WITH CHECK ADD  CONSTRAINT [FK_LSM_VTTTB_VTTTB] FOREIGN KEY([Ma_VTTTB])
REFERENCES [dbo].[VTTTB] ([Ma_VTTTB])
GO
ALTER TABLE [dbo].[LSM_VTTTB] CHECK CONSTRAINT [FK_LSM_VTTTB_VTTTB]
GO
USE [master]
GO
